@model AccountManagement.Application.Contracts.Account.AccountViewModel
@{
    Layout = null;
}

<div style="direction: rtl; padding: 10px;">
    <h2>@Model.FullName گرامی</h2>
    <p>
        برای بازیابی کلمه عبور روی لینک زیر کلیک کنید
    </p>
    <a href="https://localhost:7135/ResetPassword/@Model.ActiveCode">بازیابی کلمه عبور</a>
</div>
