@model AccountManagement.Application.Contracts.Account.ChangePasswordCommand
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">تاپ لرن</a></li>
            <li class="breadcrumb-item"><a asp-area="UserPanel" asp-controller="Home" asp-action="Index">حساب کاربری</a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر کلمه عبور </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                @* Side bar *@
                @await Component.InvokeAsync("UserPanelSidebar")

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> تغییر کلمه عبور </h1>
                        </header>
                        <div class="inner form-layer">
                            <form asp-area="UserPanel" asp-controller="Home" asp-action="ChangePassword"
                                  method="post">

                                <div class="row">
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
                                            <input asp-for="OldPassword" class="form-control" placeholder="کلمه عبور فعلی">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                            <input asp-for="Password" class="form-control" placeholder="کلمه عبور جدید">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                            <input asp-for="RePassword" class="form-control" placeholder="تکرار کلمه عبور">
                                        </div>
                                    </div>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success"> تغییر رمز </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
