@using AccountManagement.Domain.WalletAgg
@model List<AccountManagement.Application.Contracts.Wallet.WalletViewModel>
@{
    Layout = null;
}

<table class="table table-bordered">
    <tr>
        <th>مبلغ</th>
        <th>نوع تراکنش</th>
        <th>توضیحات</th>
        <th>تاریخ</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@(item.TypeId == WalletTypeId.In ? "success":"danger")">
            <td>@item.Amount.ToString("#,0")</td>
            @if (item.TypeId == WalletTypeId.In)
            {
                <td>واریز</td>
            }
            @if (item.TypeId == WalletTypeId.Out)
            {
                <td>برداشت</td>
            }
            <td>@item.Description</td>
            <td>@item.CreationDate</td>
        </tr>
    }
</table>