@model AccountManagement.Application.Contracts.Account.ForgotPasswordCommand
@{
    ViewData["Title"] = "فراموشی رمز";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی رمز</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <header><h2> فراموشی رمز عبور </h2></header>

        <div class="form-layer">

            <form asp-controller="Account" asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" class="form-control" placeholder="ایمیل">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="link">
                    <a asp-controller="Account" asp-action="Login"> <i class="zmdi zmdi-arrow-back"></i> بازگشت </a>
                </div>

                <button class="btn btn-success"> تایید ایمیل </button>

            </form>
        </div>

    </div>
</main>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}


