@model AccountManagement.Application.Contracts.Account.AccountRegisterCommand
@{
    ViewData["Title"] = "ثبت نام";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">عضویت در تاپ لرن</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <header><h2> عضویت در تاپ لرن </h2></header>

        <div class="form-layer">

            <form asp-controller="Account" asp-action="Register" method="post">

                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <input asp-for="FullName" class="form-control" placeholder="نام و نام خانوادگی">
                </div>
                
                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <input asp-for="Username" class="form-control" placeholder="نام کاربری">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" class="form-control" placeholder="ایمیل">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" class="form-control" placeholder="رمز عبور">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" class="form-control" placeholder="تکرار رمز عبور">
                </div>

                <div class="accept-rules">
                    <label><input type="checkbox" name="">  قوانین و مقررات سایت را میپذیرم </label>
                </div>
                
                <div asp-validation-summary="All" class="text-danger">

                </div>

                <div class="link">
                    <a href=""> <i class="zmdi zmdi-assignment"></i> قوانین و مقررات سایت !</a>
                    <a href=""> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                </div>

                <button class="btn btn-success"> عضویت در سایت </button>

            </form>
        </div>

    </div>
</main>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
